<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

        <title>Erro inesperado</title>
        <link rel="stylesheet" href="/styles/not-found.css">

    </head>
    <body>
        <div class="container">
            <img src="/assets/notFound.gif" />

            <h1>Um erro inesperado ocorreu!</h1>

            <span>Parece que algo deu errado! Recarregue a página ou tente novamente mais tarde...</span>
        </div>
            
    </body>
</html>