<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        
        {% block head %}

        {% endblock head %}

    </head>
    <body>
        <header>
            <a href="/">
                <img src="../../../assets/logo.png" alt="">
            </a>
            <a class="sobre" href="/about">Sobre</a>
            <a class="receitas" href="/recipes">Receitas</a>
        </header>

        {% block content %}

        {% endblock content %}

        <section class="credits">
            <p>Todos os direitos reservados, receitas Foodfy</p>
        </section>
    </body>
</html>