{% extends "website/layout.njk" %}

{% block head %}
    <title>Recipes</title>
    <link rel="stylesheet" href="/website/recipes.css">
{% endblock head %}

{% block content %}
    <section class="cards">
        {% for recipe in recipes %}
            <div class="card" id="{{recipes.indexOf(recipe)}}">
                <div class="card-image">
                    <img class="card-image-id" src="{{recipe.image}}" alt="">
                </div>
                <div class="card-title">
                    <p class="card-title-id">{{recipe.title}}</p>
                </div>
                <div class="card-info">
                    <p class="card-info-id">por {{recipe.author}}</p>
                </div>
            </div>
        {% endfor %}
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-content">
                <div class="card-image">
                    <img class="image-modal" src="" alt="">
                </div>
                <div class="modal-card-title">
                    <p class="title-modal"></p>
                </div>
                <div class="modal-card-info">
                    <p class="info-modal"></p>
                </div>

                <div class="close-modal">
                    <a>Fechar modal</a>
                </div>
            </div>

        </div>
    </div>

    <script src="/website/recipes.js"></script>
{% endblock content %}