* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #111111;
  width: 100%;
  height: 80px;
  margin-bottom: 50px;
}

.header {
  display: flex;
  width: 940px;
  height: 27px;
  margin: 30px auto;
  text-align: left;
  position: relative;
}

.header .logo {
  margin-right: 160px;
}

.header img {
  position: absolute;
  left: 0;
  width: 90.6px;
  height: 26.9px;
  opacity: 100%;
  color: #ffffff;
}

.header .recipes {
  opacity: 100%;
  font-size: 15px;
  text-decoration: none;
  color: #999999;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 30px;
  align-self: flex-end;
  padding: 3px;
}

.header .chefs {
  opacity: 100%;
  font-size: 15px;
  text-decoration: none;
  color: #999999;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  align-self: flex-end;
  padding: 3px;
  margin-right: 30px;
}

.header .users {
  opacity: 100%;
  font-size: 15px;
  text-decoration: none;
  color: #999999;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  align-self: flex-end;
  padding: 3px;
  margin-right: 30px;
}

header .login-logout {
  position: absolute;
  box-sizing: border-box;
  font-size: 15px;
  text-decoration: none;
  color: #999999;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  right: 0;
  transition: all 300ms;
  background: #111111;
  cursor: pointer;
}

.header .login-logout:hover {
  color: white;
}

.links a.active {
  color: #ffffff;
}

.recipes:hover {
  transition: font-weight 300ms;
  color: #ffffff;
}

.chefs:hover {
  color: #ffffff;
  transition: font-weight 300ms;
}

.users:hover {
  color: #ffffff;
  transition: font-weight 300ms;
}

.recipe {
  width: 940px;
  margin: 15px auto 50px auto;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
  opacity: 100%;
}

.title button {
  background-color: #6558c3;
  color: white;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  text-align: right;
  padding: 9px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.recipe div {
  margin-top: 30px;
}

.recipe div h3 {
  font-size: 16px;
  line-height: 19px;
  color: #111111;
  opacity: 100%;
  font-weight: bold;
}

.recipe div input,
textarea,
select {
  padding-left: 20px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: 49px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #555555;
  box-sizing: border-box;
}

select:required:invalid {
  color: #999999;
  font-weight: normal;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: #555555;
}

select .none {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

textarea {
  padding-top: 18px;
  padding-right: 40px;
  height: 257px;
  resize: none;
}

.recipe div button {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #6558c3;
  opacity: 100%;
  background-color: white;
  cursor: pointer;
}

.recipe .ingredients input,
.recipe .steps input {
  margin-bottom: 15px;
}

#photos-upload {
  margin: 0;
}

.recipe .image div {
  margin-top: 10px;
}

.recipe .image .manager {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
}

.recipe .image #photos-upload {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 150px;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  border-radius: 3.5px;
}

.recipe .image #photos-upload i {
  position: absolute;
  color: #999999;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 40px;
}

.recipe .image #photos-input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.recipe .image #photos-preview {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: 100%;
  margin: 0;
}

.recipe .image #photos-preview img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#photos-preview .photo {
  position: relative;
  margin: 0;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  color: red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  cursor: pointer;
  transition: opacity 200ms;
  opacity: 0;
}

#photos-preview .photo:hover i {
  opacity: 1;
}

.recipe .image-chef #photos-upload {
  position: relative;
  display: block;
  overflow: hidden;
  width: 140px;
  margin-top: 10px;
  cursor: pointer;
}

.recipe .image-chef #photos-upload p {
  background-color: #6558c3;
  color: white;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  text-align: right;
  padding: 9px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.recipe .image-chef #photos-input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

@keyframes hidemessage {
  to {
    top: -50px;
    opacity: 0;
  }
}

.messages {
  z-index: 999;
  display: flex;
  justify-content: center;
  padding: 16px;
  position: absolute;
  width: 100%;
  color: white;
  top: 0;
  opacity: 1;

  animation: hidemessage 400ms 5s ease-out forwards;
}

.messages.error {
  background-color: #e74c3c;
}

.messages.success {
  background-color: rgb(122, 182, 30);
}
