<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

        <title>Página não encontrada</title>
        <link rel="stylesheet" href="/styles/not-found.css">

    </head>
    <body>
        <div class="container">
            <img src="/assets/notFound.gif" />

            <h1>404 - Página não encontrada</h1>

            <span>Oh não! Não conseguimos encontrar a página que você está procurando...</span>
        </div>
            
    </body>
</html>