<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% block head %}{% endblock head %}
    </head>
    <body>
        {% include "parts/messages.njk" %}
        
        <header>
            <section class="header">
                <a class="logo" href="/admin/recipes">
                    <img src="../../../assets/logo-dark.png" alt="LogoFoodfy">
                </a>

                <div class="links">
                    <a class="recipes" href="/admin/recipes">Receitas</a>
                    <a class="chefs" href="/admin/chefs">Chefs</a>
                    <a class="users" href="/admin/users">Usuários</a>
                </div>

                {% if session.userId %}

                    <form action="/admin/users/logout" method="POST">
                        <button class="login-logout">Sair</button>
                    </form>

                {% else %}

                    <a href="/admin/users/login" class="login-logout">Entrar</a>

                {% endif %}

            </section>

        </header>

        {% block content %}{% endblock content %}

        <script src="/scripts/utils.js"></script>
    </body>
</html>