* {
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #111111;
    width: 100%;
    height: 80px;
    margin-bottom: 50px;
}

.header {
    display: flex;
    width: 940px;
    height: 27px;
    margin: 30px auto;
    text-align: left;
    position: relative;
}

.header .logo {
    margin-right: 160px;
}

.header img {
    position: absolute;
    left: 0;
    width: 90.6px;
    height: 26.9px;
    opacity: 100%;
    color: #FFFFFF;
}

.header .recipes {
    opacity: 100%;
    font-size: 15px;
    text-decoration: none;
    color: #999999;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px;
    align-self: flex-end;
    padding: 3px;
}

.header .chefs {
    opacity: 100%;
    font-size: 15px;
    text-decoration: none;
    color: #999999;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    align-self: flex-end;
    padding: 3px;
}

.links a.active {
    color: #FFFFFF;
}

.recipes:hover {
    transition: font-weight 300ms;
    color: #FFFFFF;
}

.chefs:hover {
    color: #FFFFFF;
    transition: font-weight 300ms;
}

.recipe {
    width: 940px;
    margin: 0px auto 50px auto;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    opacity: 100%;
}

.title .buttons {
    display: inline-block;
    top: 0px;
}

.title .buttons button {
    background-color: #6558C3;
    color: white;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-align: right;
    padding: 9px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.title .buttons #btn-delete {
    background-color: #DC4747;
} 

.recipe div {
    margin-top: 30px;
}

.recipe div h3 {
    font-size: 16px;
    line-height: 19px;
    color: #111111;
    opacity: 100%;
    font-weight: bold;
}

.recipe div input, textarea, select {
    padding-left: 20px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 49px;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #555555;
    box-sizing: border-box;
}

textarea {
    padding-top: 18px;
    padding-right: 40px;
    height: 257px;
    resize: none;
}

.recipe div button {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #6558C3;
    opacity: 100%;
    background-color: white;
    cursor: pointer;
}

.recipe .ingredients input,
.recipe .steps input {
    margin-bottom: 15px;
}