* {
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 940px;
    height: 27px;
    margin: 30px auto;
    text-align: center;
    position: relative;
}

header img {
    position: absolute;
    left: 0;
    width: 90.6px;
    height: 26.9px;
    opacity: 100%;
    color: #111111;
}

header .sobre {
    position: absolute;
    left: 25.2%;
    width: 42px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
    text-decoration: none;
    color: #111111;
    line-height: 30px;
}

.sobre:hover {
    font-weight: bold;
    transition: font-weight 300ms;
}

.receitas:hover {
    font-weight: bold;
    transition: font-weight 300ms;
}

header .receitas {
    position: absolute;
    left: 34.2%;
    width: 42px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
    text-decoration: none;
    color: #111111;
    line-height: 30px;
}

header .chefs {
    position: absolute;
    left: 45.2%;
    width: 42px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
    text-decoration: none;
    color: #111111;
    line-height: 30px;
}

.chefs:hover {
    font-weight: bold;
    transition: font-weight 300ms;
}

header .filter {
    position: absolute;
    right: 0;
}

header .filter input {
    width: 246px;
    height: 37px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    color: #999999;
    font-size: 14px;
    line-height: 16px;
    padding-left: 15px;
    margin-right: 8px;
}

header .filter button {
    background-color: #6558C3;
    color: white;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-align: right;
    padding: 9px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.info {
    background-color: #FBDFDB;
    width: 940px;
    height: 366px;
    border-radius: 30px;
    margin: 30px auto;
    text-align: center;
    position: relative;
    opacity: 100%;
}

.info h1{
    font-size: 32px;
    line-height: 38px;
    color: #111111;
    font-weight: bold;
    position: absolute;
    margin: 10.6% 41.1% 19.1% 4.3%;
    opacity: 100%;
}

.info p {
    opacity: 70%;
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    position: absolute;
    margin: 15% 40.3% 10.6% 4.3%;
    max-width: 316px;
    text-align: left;
}

.info img {
    width: 216px;
    height: 300px;
    position: absolute;
    margin: 7% 7.1% 0% 14.6%;
}

.accessed {
    width: 940px;
    margin: 40px auto;
    text-align: center;
    position: relative;
}

.accessed h2 {
    opacity: 100%;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #111111;
    position: absolute;
    left: 0;
    margin-bottom: 15px;
}

.cards {
    width: 940px;
    height: 450px;
    margin: 20px auto 50px auto;
    position: relative;
    opacity: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 40px;
}

.card img {
    width: 100%;
    height: 140px;
    border-radius: 15px;
    object-fit: cover;
}

.card-title p {
    opacity: 100%;
    color: #111111;
    font-size: 18px;
    line-height: 21px;
    margin-top: 15px;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-info p {
    opacity: 100%;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin-top: 5px;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.credits {
    margin-top: auto;
    background-color: #EEEEEE;
    width: 100%;
    height: 62px;
    text-align: center;
}

.credits p {
    opacity: 100%;
    color: #999999;
    font-size: 14px;
    line-height: 16px;
    padding: 22px;
}