* {
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 940px;
    height: 27px;
    margin: 30px auto;
    text-align: center;
    position: relative;
}

header img {
    position: absolute;
    left: 0;
    width: 90.6px;
    height: 26.9px;
    opacity: 100%;
    color: #111111;
}

header .sobre {
    position: absolute;
    left: 25.2%;
    width: 42px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
    text-decoration: none;
    color: #111111;
    line-height: 30px;
}

header .receitas {
    position: absolute;
    left: 34.2%;
    width: 42px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
    text-decoration: none;
    color: #111111;
    line-height: 30px;
}

header .chefs {
    position: absolute;
    left: 45.2%;
    width: 42px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
    text-decoration: none;
    color: #111111;
    line-height: 30px;
    font-weight: bold;
}

header .filter {
    display: none;
}

.content {
    width: 940px;
    margin: 50px auto;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 65px 1fr;
    gap: 20px;
}

.card img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.card-title p {
    margin-top: 8px;
    margin-bottom: 5px;
    opacity: 100%;
    color: #111111;
    font-size: 18px;
    line-height: 21px;
    max-width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-info p {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}

.credits {
    margin-top: auto;
    background-color: #EEEEEE;
    width: 100%;
    height: 62px;
    text-align: center;
}

.credits p {
    opacity: 100%;
    color: #999999;
    font-size: 14px;
    line-height: 16px;
    padding: 22px;
}

